<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="StudentsCS" connectionString="Data Source=DESKTOP-S31A14E\SQLEXPRESS;Initial Catalog=GymDataBase;User ID=jean;Password=jean"
				 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>